.root {
    -fx-background-color: #F0F0F0; /* Світло-сірий колір фону */
}

.title {
    -fx-font-size: 36px; /* Збільшення розміру шрифту для заголовка */
    -fx-font-weight: bold;
    -fx-text-fill: #303030; /* Темно-сірий колір тексту */
}

.description {
    -fx-font-size: 20px; /* Збільшення розміру шрифту для опису */
    -fx-wrap-text: true;
    -fx-text-fill: #505050; /* Середньо-сірий колір тексту */
}

.quizButton {
    -fx-background-color: #0078D7; /* Колір фону кнопки */
    -fx-text-fill: white; /* Колір тексту на кнопці */
    -fx-font-weight: bold;
    -fx-font-size: 18px; /* Збільшення розміру шрифту для кнопки */
}
.label {
    -fx-padding: 10px; /* Додати відступи для тексту всередині міток */
}